<!-- <!DOCTYPE html>
<html>
<head>
  <title>Asi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
-->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--<title>Music website</title>
<meta name="description" content="Music website">
<meta name="keywords" content="music, mp3">
<link href="assets/stylesheets/application.css" rel="stylesheet" type="text/css">-->
  <meta
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="1">
		<div style="position:absolute; top:6px; width:250px; margin-left:12px">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1"><img src="http://sigma.ug.edu.pl/~dlewandowski/images/logo.gif" width="80" height="93"></td>
    <td class="c_name">Baza zespolow rockowych</td>
  </tr>
</table>

		</div>
		<img src="http://sigma.ug.edu.pl/~dlewandowski/images/p1.jpg" width="660" height="112"></td>
        <td background="http://sigma.ug.edu.pl/~dlewandowski/images/pbg.gif" class="bgx">
		<div style="position:absolute; top:13px; width:190px; right:17px">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
   <!-- <tr>
  <td width="120"><input name="textfield" type="text" class="login-form" value="search"></td>
    <td width="1"><a href="#"><input type="image" src="http://sigma.ug.edu.pl/~dlewandowski/images/btn-go.gif" alt="Go" width="34" height="22" border="0">
    </a></td>
  </tr>-->
</table>

		</div>
		<img src="http://sigma.ug.edu.pl/~dlewandowski/images/spacer.gif" width="1" height="1"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="100%" valign="top"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="1" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="http://sigma.ug.edu.pl/~dlewandowski/images/spacer.gif" width="192" height="1"></td>
          </tr>
          <tr>
            <td height="100%" class="l-text">Rock (ang. skała, kołysać się) – ogólna nazwa całego szeregu stylów muzycznych, wywodzących się z rock and rolla oraz rhythm and bluesa i bluesa. Sama nazwa "rock" jest właściwie skrótem od "rock and roll", choć można uznawać owe dwa pojęcia za odmienne od siebie gatunki muzyczne. Wszystkie style rockowe charakteryzują się brzmieniem opartym na różnego rodzaju gitarach (zwykle elektrycznych, elektrycznych basowych) i perkusji, z wyraźnie zarysowanym rytmem i śpiewem, wywodzącym się z bluesa, oraz sposobem wolnej improwizacji w trakcie grania utworów, wywodzącym się z jazzu.<br/><i>Źródło wikipedia.pl</i></td>
          </tr>
        </table></td>
        <td width="1" height="100%" valign="top"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><img src="http://sigma.ug.edu.pl/~dlewandowski/images/spacer.gif" alt="" width="1" height="1"></td>
          </tr>
          <tr>
            <td height="100%" bgcolor="#cae3f5"></td>
          </tr>
          <tr>
            <td height="1"><img src="http://sigma.ug.edu.pl/~dlewandowski/images/spacer.gif" width="1" height="6"></td>
          </tr>
        </table></td>
        <td valign="top"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="1" align="left" valign="top"><img src="http://sigma.ug.edu.pl/~dlewandowski/images/p2.jpg" width="441" height="69"></td>
          </tr>
          <tr>
            <td class="body_txt"><!--<h1>Zespoly muzyczne!</h1>-->
			<script type="text/javascript"><!--
google_ad_client = "pub-0500162490295296";
google_ad_width = 468;
google_ad_height = 60;
google_ad_format = "468x60_as";
google_ad_type = "text";
//2006-11-21: Web templates - LAYOUTS
google_ad_channel = "0286771451";
google_color_border = "FFFFFF";
google_color_bg = "FFFFFF";
google_color_link = "0076BD";
google_color_text = "000000";
google_color_url = "B3B3B3";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

              <DIV style="border:#2570A4 solid 1px;padding:4px 6px 2px 6px"><%= yield %>
             </DIV>              <p>&nbsp;</p></td>
          </tr>
        </table></td>
      </tr>
    </table>
    <p>&nbsp;</p></td>
  </tr>
 </table>
 <%= javascript_include_tag "application" %>
</body>
</html>
